<div class="sidebar-wrapper">
    <div class="logo">
        <a href="/" class="simple-text" style="display: flex; align-items: center;">
            <div class="logo-img" style="margin-right: 12px; display: flex; align-items: flex-end;"> <!-- 🔥 여기 margin-right를 12px로 -->
                <img src="/assets/img/my-logo.png" style="height: 40px;">
            </div>
            하수관로 관리 시스템
        </a>
    </div>

    <ul class="nav responsive-nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
