<div class="card">
    <div class="header">
      <h4 class="title" style="margin-left: 17px;"> 하수관 손상 통계</h4>
      <p class="category" style="margin-left: 17px;">손상 유형별 분포 및 손상률</p>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-6">
          <lbd-chart
            [title]="'손상 유형 통계'"
            [subtitle]="'하수관 손상 종류별'"
            [chartType]="'Pie'"
            [chartData]="damageTypeChartData"
            [legendItems]="damageTypeChartLegendItems"
            [withHr]="true"
            [footerIconClass]="'fa fa-clock-o'"
            [footerText]="'최근 데이터 기준'">
          </lbd-chart>
        </div>
  
        <div class="col-md-6">
          <lbd-chart
            [title]="'구간별 손상률'"
            [subtitle]="'최근 점검 결과'"
            [chartType]="'Bar'"
            [chartData]="sectionDamageChartData"
            [legendItems]="sectionDamageChartLegendItems"
            [withHr]="true"
            [footerIconClass]="'fa fa-clock-o'"
            [footerText]="'최근 점검 기준'">
          </lbd-chart>
        </div>
      </div>
    </div>
  </div>